html,body{
    height: 100%;
}
/* cubra 100% da tela no conteudo */

header{
 background-image: url(../img/banner.jpg);
 background-size: cover; /* aumenta a img conforme o tamanho da tela  */
 background-repeat: no-repeat;   /* para nao repetir */
 height: 70%;
}
.card{
    padding: 3rem;
    height: 82%;
    box-shadow: 3px 5px 8px rgba(0,0, 0, 0,5);
    background-image: linear-gradient(to top,white 60%,#5cb85c);
}